# Supabase設定
# Supabaseプロジェクトを作成後、以下を設定してください
NEXT_PUBLIC_SUPABASE_URL=your-supabase-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

NEXT_PUBLIC_SITE_URL=

# Google Analytics 4
NEXT_PUBLIC_GA_ID=
